@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@800&family=Share+Tech+Mono&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #d9d6d0;
  font-family: "Share Tech Mono", monospace;
  text-transform: uppercase;
}

button {
  border: none;
  font-family: "Oxanium", monospace;
  text-transform: uppercase;
  cursor: pointer;
}

ul,
li,
ol {
  list-style: none;
  display: flex;
}

.cronometer {
  width: 100vw;
  height: 100vh;
  max-width: 300px;
  max-height: 100%;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  margin: 0 auto;

  &__watcher {
    color: #d9d6d0;
    background-color: #0d0d0d;
    border: 0 solid #bfbab0;
    border-top-width: 5px;
    border-bottom-width: 5px;

    order: 2;

    margin: 0;

    width: 100%;
    min-width: 250px;

    z-index: 1;
  }
  &__controllers {
    width: 100%;
    z-index: 1;
  }
}

.pointers {
  column-gap: 5px;
  row-gap: 30px;
  
  display: flex;
  flex-flow: row wrap-reverse;
  justify-content: center;

  padding: 30px 0;

  font-size: 4rem;

  &:nth-child(even) {
    border: 1px solid red;
  }
  &:nth-child(odd) {
    text-align: right;
  }
  

  &__pointer {
    flex-basis: 40%;
    flex-shrink: 67px;

    padding: 0 10px;

    background-color: #595958;
    position: relative;
    &::before {
      position: absolute;
      font-size: 1rem;
      top: -12px;
      left: 105%;
      transform: translate(-50%, -50%);
      color: #595958;
    }
    &:nth-child(5)::before {
      content: "seconds";
    }
    &:nth-child(3)::before {
      content: "minutes";
    }
    &:nth-child(1)::before {
      content: "hours";
    }
    &:nth-child(odd) {
      text-align: right;
    }
    &:nth-child(even) {
      text-align: left;
    }
  }
}

.controllers {
  justify-content: space-around;
  column-gap: 5px;

  &__list {
    flex-basis: 25%;
    min-width: 70px;
  }

  &__button {
    width: 100%;
    height: 40px;

    margin-inline: auto;

    font-size: 1.5rem;

    background-color: #0d0d0d;
    color: #d9d6d0;
    border-top: 5px solid #595958;

    transition: 200ms;
    &:active {
      transform: translate(0, 15px);
    }
    &:disabled {
      transform: translate(0, 15px);
      border-top-color: red;
    }
  }
}
