@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@800&family=Share+Tech+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #d9d6d0;
  font-family: "Share Tech Mono", monospace;
}

button {
  border: none;
  font-family: "Oxanium", monospace;
  text-transform: uppercase;
  cursor: pointer;
}

ul,
li,
ol {
  list-style: none;
  display: flex;
}

/// CRONOMETER

.cronometer {
  width: 100vw;
  height: calc(100vh - 110px);
  max-width: 300px;
  max-height: 100%;
  min-height: 450px;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  margin: 0 auto;

  &__watcher {
    color: #d9d6d0;
    background-color: #0d0d0d;
    border: 0 solid #bfbab0;
    border-top-width: 5px;
    border-bottom-width: 5px;

    order: 2;

    margin: 0;

    width: 100%;
    min-width: 250px;

    z-index: 1;
  }
  &__controllers {
    width: 100%;
    z-index: 1;
  }
}

.pointers {
  column-gap: 5px;
  row-gap: 30px;

  display: flex;
  flex-flow: row wrap-reverse;
  justify-content: center;

  padding: 30px 0;

  font-size: 4rem;

  &:nth-child(even) {
    border: 1px solid red;
  }
  &:nth-child(odd) {
    text-align: right;
  }

  &__pointer {
    flex-basis: 40%;

    padding: 0 10px;

    background-color: #595958;
    position: relative;
    &::before {
      position: absolute;
      font-size: 1rem;
      top: -12px;
      left: 105%;
      transform: translate(-50%, -50%);
      color: #595958;
    }
    &:nth-child(5)::before {
      content: "seconds";
    }
    &:nth-child(3)::before {
      content: "minutes";
    }
    &:nth-child(1)::before {
      content: "hours";
    }
    &:nth-child(odd) {
      text-align: right;
    }
    &:nth-child(even) {
      text-align: left;
    }
  }
}

.controllers {
  justify-content: space-around;
  column-gap: 5px;

  &__list {
    flex-basis: 25%;
    min-width: 70px;
  }

  &__button {
    width: 100%;
    height: 40px;

    margin-inline: auto;

    font-size: 1.5rem;

    background-color: #0d0d0d;
    color: #d9d6d0;
    border-top: 5px solid #595958;

    transition: 200ms;
    &:active {
      transform: translate(0, 15px);
    }
    &:disabled {
      transform: translate(0, 15px);
      border-top-color: red;
    }
  }
}

/// HISTORY

@keyframes slide_left_fade_in {
  0% {
    opacity: 0;
    transform: translateX(40px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes slide_bottom {
  0% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes before_slide_bottom {
  0% {
    transform: translate(-50%, -55%);
  }

  100% {
    transform: translate(-50%, -50%);
  }
}

@keyframes disabled_slide_right {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(300px);
  }
}

@keyframes slide_top {
  0% {
    opacity: 0;
    transform: translateY(500px);
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.history {
  opacity: 0;

  @media screen and (orientation: landscape) and (min-width: 800px) {
    animation-name: slide_left_fade_in, disabled_slide_right;
    animation-duration: 200ms, 1s;
    animation-fill-mode: forwards, forwards;
    height: 100vh;
  }

  animation-name: slide_top;
  animation-duration: 200ms;
  animation-fill-mode: forwards;

  background-color: #0d0d0d;
  border: 4px solid #0d0d0d;

  max-height: 100%;

  width: calc(100vw - 100px);
  min-width: 300px;
  max-width: 60vw;
  margin: 0 auto;

  overflow-y: scroll;

  @media screen and (orientation: landscape) and (min-width: 800px) {
    border: none;
    border-left: 4px solid #595958;

    max-width: initial;
    min-width: initial;
    width: initial;

    flex-flow: column;
    position: fixed;
    right: 0;
    top: 0;
  }

  &__clean {
    width: 100%;

    padding: 5px;
    transition: 300ms;
    &:active {
      transform: translatey(-5px);
      filter: brightness(50%);
    }
    &:hover {
      background-color: red;
    }
  }
  &__list {
    display: grid;
    @media screen and (orientation: landscape) and (min-width: 800px) {
      grid-template-columns: 200px;
      padding: 0px 20px;
    }
    grid-template-columns: minmax(200px, 90%);
    justify-content: center;

    column-gap: 30px;
  }
  &__item {
    animation: slide_bottom 200ms forwards;
    display: block;
    background-color: #595958;
    color: #d9d6d0;

    margin: 15px 0;
    padding: 10px;
    border-radius: 5px;

    position: relative;
    @media screen and (orientation: landscape) and (min-width: 800px) {
      &::before {
        animation: before_slide_bottom 200ms forwards;
        content: "";
        position: absolute;
        width: 40px;
        height: 2px;
        background-color: #bfbab0;
        bottom: -17px;
        left: 50%;
      }

      &:last-child::before {
        display: none;
      }
    }
  }
  &__datetime {
    display: flex;
    flex-flow: row nowrap;
    font-family: "Courier Prime", monospace;
    justify-content: center;
    column-gap: 5px;
    opacity: 0.5;
  }
  &__date {
    font-size: 1rem;
  }
  &__time {
    font-size: 0.8rem;
    font-family: "Courier Prime", monospace;
  }
  &__elapsed {
    margin-top: 5px;

    font-size: 2.4rem;
    font-weight: bold;

    text-align: center;
  }
}

/// CREDITS

.footer {
  padding: 25px 0 10px;
  display: flex;
  flex-flow: column nowrap;
  row-gap: 10px;
  text-transform: uppercase;

  @media screen and (orientation: landscape) and (min-width: 800px) {
    flex-flow: column nowrap;
  }

  &__item {
    @media screen and (orientation: landscape) and (min-width: 800px) {
      width: max-content;
      margin: 0 10px;
    }
    width: max-content;
    margin: 0 auto;
  }

  &__link {
    color: #0d0d0d;
    text-decoration: none;
    &:visited {
      color: #595958;
    }
  }
}
